<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="Database" connectionString="server=185.19.133.23, 5901; database=SchoolCom;uid=SchoolCom;password=q%h34KKc2;"
        providerName="System.Data.SqlClient" />
    <add name="w3schoolsConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=w3schools;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>